@import "tailwindcss";

@theme inline {
  --font-courier-prime: var(--font-courier-prime);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}