@import "tailwindcss";

@theme inline {
  --font-courier-prime: var(--font-courier-prime);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
  --font-satoshi: var(--font-satoshi);
  --font-instrument-serif: var(--font-instrument-serif);
}

:root {
  --color1: rgb(220, 38, 38);
  --color2: rgb(248, 113, 113);
  --color3: rgb(239, 68, 68);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}